* {
    padding: 0px;
    margin: 0px
    
}
#containers{
    padding: 80px;
}
a{
    color: #000000;
    text-decoration: none;

}
a:hover{
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}

header{
    text-align: center;
    background-color:rgb(148,6,49);
    color: rgb(249,249,249);
    padding: 100px;

}
body{
    text-align: center;
    background-color: rgb(249,249,249);
    color: #000000;
}
footer{
    background-color:rgb(148,6,49);
    padding:50px;
}
ul{
    list-style: square;
}
.titles{
    padding:20px
}
.my-intro{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 100px;
}


.profile-pic{
    border-radius: 50%;
}
